{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ $remote }}
  git_signingKey = ""
  git_user_name = "Your Name"
  git_user_email = "your@email.com"
  ssh_key_path = "~/.ssh/id_ed25519"

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}
