[user]
	name = {{ .git_user_name | default "Your Name" }}
	email = {{ .git_user_email | default "your@email.com" }}

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[branch]
	autoSetupMerge = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

{{- if .git_signingKey }}
[commit]
    gpgsign = true

[gpg]
    program = gpg

[user]
    signingkey = {{ .git_signingKey }}
{{- end }}
